#map {
  height: 50%;
  width: 100%;
}

#map2 {
  height: 347px;
  width: 100%;
}

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}

#container{
  width: 70%;
  height: 100%;
  min-height: 384px;
  display: inline-block;
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}
#target {
  width: 345px;
}

#fire-section{
  float: right;
  background-size: cover;
  background-image: url('https://i.pinimg.com/474x/3b/b3/2c/3bb32c7f960487a056a864aecf27e6f3--abstract-iphone-wallpaper-ipod-wallpaper.jpg');
  background-repeat: no-repeat;
  color: white;
  width: 30%;
  height: 100%;
  text-align: center;
}

@font-face {
    font-family: coolFont;
    src: url(cool_font.ttf);
}

.center{
  text-align: center;
  list-style-type: none;
  font-family: Roboto;
  line-height: 1em;
}

#important{
  padding: 0;
}

#area{
  margin: auto;
  width: 85%;
  display: block;
  color: black;
  font-weight: coolFont;
}

#save{
  width: 40%;
  margin: 7px;
}

#clear{
  width: 40%;
  margin: 10px;
}

#header{
  margin-top: 40%;
}
